<div id="resultsWrapper">
  <h2><%= @survey.title %></h2>
  <p>Total responses: <%= @survey.responses %></p>

  <div class ="tableWrapper">

    <ol>
      <div>
      <% @questions.each do |question| %>
      <li><span><%= question.content %></span></li>
        <table id="surveys_list">
          <tbody>
            <tr>
              <th>Choices</th>
               <% question.answers.each do |answer| %>
                 <td><%= answer.choice %></td>
               <% end %>
            </tr>
            <tr>
              <th>Answers</th>
                <% question.answers.each do |answer| %>
                  <td><%= answer.find_percentage %> %</td>
                <% end %>
            </tr>
            <tr>
              <th>Totals</th>
              <% question.answers.each do |answer| %>
                <td><%= answer.find_total %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </li>
      <% end %>
    </div>
  </ol>

  </div>

</div>
