<div id="resultsWrapper">
  <h2><%= @survey.title %></h2>
  <p>Total responses: <%= @survey.responses %></p>

  <div class ="tableWrapper">

    <ol>
      <% @questions.each do |question| %>
      <div>
      
      <li><span><%= question.content %></span>
        <table id="surveys_list">
          <tbody>
            <tr>
              <th>Choices</th>
               <% question.answers.each do |answer| %>
                 <td><%= answer.choice %></td>
               <% end %>
            </tr>
            <tr>
              <th>Answers</th>
                <% question.answers.each do |answer| %>
                  <td><%= answer.find_percentage %> %</td>
                <% end %>
            </tr>
            <tr class="totals">
              <th>Totals</th>
              <% question.answers.each do |answer| %>
                <td><%= answer.find_total %></td>
              <% end %>
            </tr>
          </tbody>
        </table>

        <table class="graph">
          <tr>
              <td><canvas id=""></canvas></td>
              <td><ul id = "legend">
                  <li>LEGEND</li>
                <% question.answers.each do |answer| %>
                  <li><%= answer.choice %></li>
                <% end %> 
              </ul>
            </td>
          </tr>
        </table>

<!--         <div class="charts cf">
          <ul id = "legend">
              <li>LEGEND</li>
            <% question.answers.each do |answer| %>
              <li><%= answer.choice %></li>
            <% end %> 
          </ul>
          <canvas id=""></canvas>
        </div> -->
        </div>

      </li>
      <% end %>
  </ol>

  </div>

</div>
