<div id="surveyWrapper">
  <h1><%= @survey.title %></h1>
  <form action="/submit" method="POST">
    <ol>
      <% @survey.questions.each do |question| %>
      <li>
          <span><%= question.content %></span>
          <ul>
            <% question.answers.each do |answer| %>
              <li><label><input type="radio" name="<%= question.id %>" value="<%= answer.id %>"><%= answer.choice %></label></li>
            <% end %>
          </ul>
      </li>
      <% end %>
    </ol>
    <input type="submit" id="submitSurvey" disabled="true" value="Submit the survey">
  </form>

</div>
